/* App.css */

.navigation-section {
  background-color: #e8e0f4;
  padding: 20px;
  border-right: 2px solid #4d2283;
  border-left: 2px solid #4d2283;
}

.navbar-title {
  font-size: 32px;
}

.login-button {
  margin: 20px;
}

.header-section {
  background-color: #4d2283;
  color: #fff;
  border: 2px solid #4d2283;
  padding: 20px;
  margin-top: 0px;
  text-align: center;
}

.title {
  font-size: 36px;
  margin-bottom: 40px;
}

.voting-section {
  background-color: #b6a1cf;
  border-right: 2px solid #4d2283;
  border-left: 2px solid #4d2283;
  display: flex;
  text-align: center; /* Center the content */
  flex: 1 1 auto; /* Allow the section to grow and fill the available space */
  padding: 20px;
}

.voting-column {
  flex: 1;
  margin: 0 10px;
}

.pet-label h3 {
  text-align: center;
  font-size: 24px;
  color: #3b1a65;
}

/* Updated button styling */
button {
  width: 180px; /* Set a fixed width for all buttons */
  padding: 10px;
  margin-bottom: 30px;
  background-color: #007bff;
  border: 1px solid #0056b3;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  background-color: #7a46bc;
}

/* Style for the footer section */
.footer-section {
  background-color: #e8e0f4;
  color: #000;
  border: 2px solid #4d2283;
  height: 80px;
  /* text-align: center; */
  padding: 20px 0;
}

/* Style for the footer elements */
.footer-section p {
  font-size: 16px;
}

.footer-section a {
  color: #000;
  text-decoration: underline;
  transition: color 0.3s;
}

.footer-section a:hover {
  color: #7a46bc; 
}

.sw3-link {
  text-align: left;
  margin-left: 10px;
}

.thirdweb-link {
  float: right;
  margin-right: 10px;
}

/* Style for the pet logos */
.pet-logo {
  width: 128px; /* Adjust the width as needed */
  height: 90px; /* Adjust the height as needed */
  margin-right: 10px; /* Add margin to separate the logo from the button */
  margin-bottom: 40px;
}
